.category {
  aside {
    h2 {
      font-size: 1.23rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: var(--gap-xsmall);
      list-style-type: none;
      padding: 0;
    }

    a {
      border-radius: var(--border-radius-medium);
      color: var(--text-color);
      display: flex;
      padding: var(--spacing-1) var(--spacing-3);
      text-decoration: none;
  
      &:hover,
      &[aria-current="true"] {
        background-color: var(--bg-color-selected);
        color: var(--link-color);
      }
    }
  }

  .category-items {
    display: grid;
    gap: var(--gap-medium);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    list-style-type: none;
    margin: 0;
    padding-block: var(--spacing-10);

    a {
      min-height: 180px;
      width: 100%;
    }
  }

  guide-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: var(--spacing-20);
  }

  @container main (width < 800px) {
    aside {
      padding: 0;

      ul {
        display: flex;
        flex-direction: row;
      }
    }

    .category-items {
      padding: 0;
    }
  }
}
