@layer pages {
  .errored main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-6);
    padding-block: var(--spacing-24);
    text-align: center;
  }

  .errored h1 svg {
    width: 240px;
    height: auto;
  }
}
