.home {
  header {
    border-bottom: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-20);
    padding-block: var(--spacing-20);

    :where(h2) {
      font-weight: var(--font-weight-bold);
      font-size: 2.25rem;
    }

    :where(h2, p) {
      margin: 0;
    }
  }

  section {
    h2 {
      align-items: center;
      display: flex;
      gap: var(--gap-medium);
      position: relative;
    }

    h2::after {
      background-image: linear-gradient(to right, var(--blue-20), var(--purple-10));
      box-shadow: var(--shadow-elevation-low);
      content: "";
      display: block;
      flex-grow: 1;
      height: var(--spacing-3);
      position: relative;
      right: 0;
    }
  }

  .core-concepts {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--gap-large);
      justify-content: start;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: var(--spacing-2);
    }
  }
}
