guide-category {
  align-items: center;
  border-radius: var(--border-radius-xlarge);
  color: var(--text-color);
  container: guide-list / inline-size;
  display: flex;
  gap: var(--gap-large);
  justify-content: space-between;
  width: 100%;

  .list-header {
    width: 100%;

    a {
      align-items: center;
      display: inline-flex;
      gap: var(--gap-small);
    }
  }

  h2 {
    margin: 0;
  }
}
