guide-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-medium);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;

  .card {
    background-color: var(--bg-color);
    box-sizing: border-box;
  }

  @container guide-category (width < 800px) {
    flex-direction: column;

    .card {
      min-height: 100px;
      width: 100%;
    }
  }
}
