guide-list {
  container: guide-list / inline-size;
  width: 100%;

  .list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-medium);
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

    .card {
      background-color: var(--bg-color);
      box-sizing: border-box;
      min-height: 290px;
    }

    @container guide-category (width < 800px) {
      flex-direction: column;

      .card {
        min-height: 100px;
        width: 100%;
      }
    }
  }

  @container guide-list (width < 800px) {
    .list-container {
      border-top: var(--border-default);
      grid-template-columns: 1fr;
    }

    .card {
      min-height: revert;
    }
  }
}
