---
layout: default
---

<main class="wrapper">
  <%= render Shared::Hero.new(title: data.title, tags: data.tags) %>
  <div class="double-pane">
    <%= render Guides::Sidebar.new(data: data) %>
    <div class="guide-content wrapper" data-wrapper-size="small">
      <%= yield %>
    </div>
  </div>
</main>
