---
layout: default
---

<main class="wrapper">
  <%= render Shared::Hero.new(title: data.title) %>
  <div class="double-pane">
    <aside>
      <% data.authors&.each do |author| %>
        <%= render Guides::Author.new(author: author) %>
      <% end %>
    </aside>
    <div class="guide-content wrapper" data-wrapper-size="small">
      <%= yield %>
    </div>
  </div>
</main>
