---
layout: default
---

<% @categories = @site.data.guides.categories %>
<main class="wrapper">
  <%= render Shared::Hero.new(title: data.title,
                              description: "Learn about APIs at large, and how to use Bump.sh in your API ecosystem.") %>
  <div class="double-pane">
    <%= render Categories::Sidebar.new(categories: @categories) %>
    <guide-list class="section-container">
      <% @categories.each do |category| %>
        <%= render Guides::Category::Section.new(category: category) %>
      <% end %>
    </guide-list>
    <%= yield %>
  </div>
</main>
