---
layout: default
---

<main class="wrapper">
  <%= render Shared::Hero.new(title: data.title) %>
  <div class="double-pane">
    <%= render Guides::Authors::List.new(authors: data.authors) %>
    <div class="guide-content wrapper" data-wrapper-size="small">
      <img class="guide-cover" src="<%= relative_url data.image %>">
      <%= yield %>
    </div>
  </div>
</main>
