---
layout: default
---

<main class="wrapper">
  <article class="update">
    <timeline-element>
      <div class="timeline-side">
        <time><%= data.date.strftime("%B %d, %Y") %></time>
      </div>
      <div class="timeline-content">
        <h2><%= data.title %></h2>
        <div class="tag-list">
          <% data.tags.each do |tag| %>
            <a class="label" data-label-status="inverted"><%= tag %></a>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </timeline-element>
  </article>
</main>
