---
permalink: /404.html
layout: default
page_class: errored
---

<main class="wrapper">
  <h1 aria-label="404">
    <%= svg "/images/404.svg" %>
  </h1>

  <p>Sorry, you page you were looking for does not exist.</p>
</main>
