getting-started {
  a {
    align-items: center;
    background-image: linear-gradient(to right, var(--blue-20), var(--blue-10), var(--purple-10));
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow-elevation-low);
    color: var(--text-color);
    display: grid;
    gap: 0 var(--gap-large);
    grid-template-columns: auto 1fr;
    padding: var(--spacing-8) var(--spacing-9);
    text-align: left;
    text-decoration: none;
  }

  .emoji {
    font-size: 2.5rem;
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
  }

  h2, p {
    margin: 0;
  }
}
