<getting-started>
  <a href="<%= relative_url "/help/getting-started/" %>">
    <div class="emoji">🚀</div>
    <h2>Getting Started</h2>
    <p>Learn about Bump.sh, how to deploy your first specification file and explore the possibilities.</p>
  </a>
</getting-started>
