home-hero {
  align-items: center;
  animation: gradient 10s ease infinite;
  background: linear-gradient(-45deg, var(--blue-30) 0%, var(--blue-10) 30%, var(--purple-10) 49%, var(--purple-10) 51%, var(--blue-10) 70%, var(--blue-30) 100%);
  background-size: 300% 300%;
  border-radius: var(--border-radius-large);
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  margin: var(--spacing-4) var(--spacing-12);
  padding: var(--spacing-20) var(--spacing-10) var(--spacing-10);
  text-align: center;

  h1, p {
    margin: 0;
  }

  p {
    font-size: 1rem;
  }

  bridgetown-search-form {
    max-width: 75ch;
    width: 100%;

    input[type="search"] {
      background-position: left var(--spacing-4) center;
      background-size: 1rem;
      font-size: 1rem;
      padding: var(--spacing-6);
      padding-left: var(--spacing-10);
    }

    input[type="search"]:hover {
      border-color: var(--blue-40);
    }
  }

  .cards {
    display: grid;
    gap: var(--spacing-10);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: var(--spacing-4);
    width: 100%;
  }

  @media (max-width: 1000px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media(max-width: 600px) {
    border-radius: 0;
    margin-inline: 0;

    h1 {
      font-size: 2rem;
    }

    .cards {
      grid-template-columns: 1fr;
    }
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
