---
layout: page
title: Guides in category :prototype-term-titleize
page_class: category
prototype:
  collection: guides
  term: category
  per_page: 20
  sort_reverse: true
---

<div class="double-pane">
  <aside>
    <h2>All categories</h2>
    <ul>
      <% collections.guides.resources.map{ |resource| resource.data.categories }.flatten.uniq.each do |category| %>
        <li>
          <a href="<%= relative_url "/guides/#{category.downcase.split(" ").join("-")}" %>">
            <%= category %>
          </a>
        </li>
      <% end %>
    </ul>
  </aside>
  <%= render Guides::List.new(resources: paginator.resources) %>
</div>
<%= render Shared::Pagination.new(paginator: paginator) %>
