/* frontend/styles/index.css */
@font-face {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 500;
  src: url(/_bridgetown/static/AvenirNext-Medium-CQCA6LWC.ttf) format("ttf");
}
@font-face {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 600;
  src: url(/_bridgetown/static/AvenirNext-DemiBold-LAX35CCH.ttf) format("ttf");
}
@font-face {
  font-family: AvenirNext;
  font-style: normal;
  font-weight: 700;
  src: url(/_bridgetown/static/AvenirNext-Bold-NZ5JJ6X3.ttf) format("ttf");
}
:root {
  --spacing-unit:4px;
  --spacing-px:calc(var(--spacing-unit)*0.25);
  --spacing-05:calc(var(--spacing-unit)*0.5);
  --spacing-1:var(--spacing-unit);
  --spacing-2:calc(var(--spacing-unit)*2);
  --spacing-3:calc(var(--spacing-unit)*3);
  --spacing-4:calc(var(--spacing-unit)*4);
  --spacing-5:calc(var(--spacing-unit)*5);
  --spacing-6:calc(var(--spacing-unit)*6);
  --spacing-7:calc(var(--spacing-unit)*7);
  --spacing-8:calc(var(--spacing-unit)*8);
  --spacing-9:calc(var(--spacing-unit)*9);
  --spacing-10:calc(var(--spacing-unit)*10);
  --spacing-11:calc(var(--spacing-unit)*11);
  --spacing-12:calc(var(--spacing-unit)*12);
  --spacing-14:calc(var(--spacing-unit)*14);
  --spacing-15:calc(var(--spacing-unit)*15);
  --spacing-16:calc(var(--spacing-unit)*16);
  --spacing-18:calc(var(--spacing-unit)*18);
  --spacing-20:calc(var(--spacing-unit)*20);
  --spacing-24:calc(var(--spacing-unit)*24);
  --spacing-30:calc(var(--spacing-unit)*30);
  --spacing-32:calc(var(--spacing-unit)*32);
  --spacing-34:calc(var(--spacing-unit)*34);
  --spacing-40:calc(var(--spacing-unit)*40);
  --spacing-1-minus:calc(var(--spacing-unit)*-1);
  --spacing-2-minus:calc(var(--spacing-unit)*-2);
  --spacing-3-minus:calc(var(--spacing-unit)*-3);
  --spacing-4-minus:calc(var(--spacing-unit)*-4);
  --spacing-5-minus:calc(var(--spacing-unit)*-5);
  --spacing-6-minus:calc(var(--spacing-unit)*-6);
  --spacing-8-minus:calc(var(--spacing-unit)*-8);
  --spacing-10-minus:calc(var(--spacing-unit)*-10);
  --spacing-13-minus:calc(var(--spacing-unit)*-13);
  --spacing-14-minus:calc(var(--spacing-unit)*-14);
  --spacing-16-minus:calc(var(--spacing-unit)*-16);
  --spacing-20-minus:calc(var(--spacing-unit)*-20);
  --spacing-24-minus:calc(var(--spacing-unit)*-24);
  --spacing-30-minus:calc(var(--spacing-unit)*-30);
  --doc-sidebar-width:300px;
  --doc-content-width:80ch;
  --gap-small:var(--spacing-3);
  --gap-medium:var(--spacing-6);
  --gap-large:var(--spacing-9);
  --gap-xlarge:var(--spacing-16);
  --black:#131415;
  --black-rgb:19,20,21;
  --gray-90:#222325;
  --gray-80:#323233;
  --gray-70:#424344;
  --gray-50:#6a6c6d;
  --gray-40:#aab0b6;
  --gray-20:#eee;
  --gray-10:#f9fafb;
  --white:#fff;
  --white-rgb:255,255,255;
  --slate-90:#191c1e;
  --slate-80:#292e31;
  --slate-70:#4c555a;
  --slate-50:#8792a2;
  --slate-40:#bdc6cf;
  --slate-20:#e3e9ef;
  --slate-10:#f0f4f7;
  --blue-100:#111c28;
  --blue-90:#222c3a;
  --blue-70:#184e94;
  --blue-60:#025fd7;
  --blue-40:#9abfef;
  --blue-30:#c0dbf6;
  --blue-20:#e6f6fc;
  --blue-10:#f5fbff;
  --darkest-blue:var(--blue-100);
  --darker-blue:var(--blue-90);
  --dark-blue:var(--blue-70);
  --blue:var(--blue-60);
  --blue-rgb:2,95,215;
  --light-blue:var(--blue-20);
  --lighter-blue:var(--blue-10);
  --gray-blue:#44546f;
  --azure-blue:#3262ab;
  --sky-blue:#19aeff;
  --gradient-blue:linear-gradient(90deg,var(--sky-blue) 0.3%,var(--blue) 42.72%);
  --green-100:#11201d;
  --green-90:#002e1f;
  --green-80:#005c42;
  --green-70:#008a64;
  --green-60:#00bd7e;
  --green-50:#31c996;
  --green-40:#62d5af;
  --green-30:#92e2c7;
  --green-20:#c3eee0;
  --green-10:#f4faf8;
  --darkest-green:var(--green-100);
  --dark-green:var(--green-90);
  --medium-green:var(--green-70);
  --green:var(--green-60);
  --green-rgb:0,189,126;
  --light-green:var(--green-10);
  --red-100:#241314;
  --red-90:#3b1410;
  --red-70:#730703;
  --red-60:#bf0e08;
  --red-50:#cb3c37;
  --red-40:#d86965;
  --red-30:#e49794;
  --red-20:#f1c4c2;
  --red-10:#fdf2f1;
  --darkest-red:var(--red-100);
  --darker-red:var(--red-90);
  --dark-red:var(--red-70);
  --red:var(--red-60);
  --red-rgb:191,14,8;
  --light-red:var(--red-10);
  --orange-100:#272018;
  --orange-70:#563814;
  --orange-60:#df9136;
  --orange-50:orange;
  --orange-50-rgb:255,165,0;
  --orange-10:#fef4e8;
  --orange-05:#fdf7f0;
  --darkest-orange:var(--orange-100);
  --dark-orange:var(--orange-70);
  --orange:var(--orange-60);
  --orange-rgb:223,145,54;
  --light-orange:var(--orange-10);
  --xlight-orange:var(--orange-05);
  --bright-orange:#ee6237;
  --yellow-70:#735c0f;
  --yellow-60:#f6e9be;
  --yellow-10:#fffbdd;
  --darker-yellow:var(--yellow-70);
  --dark-yellow:var(--yellow-60);
  --yellow:var(--yellow-10);
  --purple-100:#2e1130;
  --purple-60:purple;
  --purple-50:#973098;
  --purple-40:#ae60af;
  --purple-30:#c690c7;
  --purple-20:#ddc0de;
  --purple-10:#f4f0f6;
  --darkest-purple:var(--purple-100);
  --purple:var(--purple-60);
  --light-purple:var(--purple-10);
  --base-color:var(--blue-60);
  --base-color-dark:var(--blue-60);
  --accent-color:var(--purple-60);
  --bg-color:var(--white);
  --bg-color-secondary:var(--gray-10);
  --bg-color-inverted:var(--black);
  --bg-color-selected:color-mix(in srgb,var(--base-color),transparent 90%);
  --bg-color-gradient:linear-gradient(135deg,var(--blue-20),var(--blue-10),var(--purple-10));
  --text-color-success:var(--green-60);
  --text-color-warning:var(--orange-60);
  --text-color-error:var(--red-60);
  --text-color-info:var(--blue-60);
  --bg-color-success:var(--green-10);
  --bg-color-warning:var(--orange-10);
  --bg-color-error:var(--red-10);
  --bg-color-info:var(--blue-10);
  --font-text:"Avenir Next";
  --text-color:var(--gray-70);
  --text-color-disabled:var(--gray-40);
  --text-color-secondary:var(--slate-70);
  --text-color-inverted:var(--white);
  --title-color:var(--black);
  --link-color:var(--blue-60);
  --link-color-hover:var(--gray-50);
  --page-content-width:1300px;
  --gap-default:var(--spacing-6);
  --font-weight-normal:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;
  --base-duration:150ms;
  --base-timing:ease;
  --theme-change-transition:background-color ease-out 0.1s;
  --border-color-default:var(--gray-20);
  --border-width-default:1px;
  --border-default:var(--border-width-default) solid var(--border-color-default);
  --border-color-focus:var(--gray-40);
  --border-radius-small:var(--spacing-05);
  --border-radius-medium:var(--spacing-1);
  --border-radius-large:var(--spacing-2);
  --border-radius-xlarge:var(--spacing-4);
  --box-shadow-medium:0px 5px 12px rgba(var(--black-rgb),0.1);
  --box-shadow-large:0px 5px 24px rgba(var(--black-rgb),0.1);
  --shadow-color:229deg 36% 64%;
  --shadow-elevation-low:0.1px 0.4px 0.6px hsl(var(--shadow-color)/0),0.2px 0.8px 1.2px hsl(var(--shadow-color)/0.17),0.4px 1.5px 2.3px hsl(var(--shadow-color)/0.34);
  --shadow-elevation-medium:0.1px 0.4px 0.6px hsl(var(--shadow-color)/0),0.5px 1.9px 2.9px hsl(var(--shadow-color)/0.13),1.1px 3.8px 5.9px hsl(var(--shadow-color)/0.27),2.1px 7.7px 12px hsl(var(--shadow-color)/0.4);
  --shadow-elevation-high:0.1px 0.4px 0.6px hsl(var(--shadow-color)/0),1px 3.5px 5.5px hsl(var(--shadow-color)/0.06),1.7px 6.2px 9.6px hsl(var(--shadow-color)/0.12),2.5px 8.9px 13.9px hsl(var(--shadow-color)/0.19),3.5px 12.4px 19.3px hsl(var(--shadow-color)/0.25),4.8px 17.2px 26.8px hsl(var(--shadow-color)/0.31),6.7px 23.8px 37.1px hsl(var(--shadow-color)/0.37),9.2px 32.8px 51.1px hsl(var(--shadow-color)/0.44);
}
body {
  font-family: Avenir Next;
  font-family: var(--font-text);
  font-size: .9rem;
  grid-template-rows: auto 1fr auto;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  position: relative;
}
body > header {
  grid-area: header;
}
body > aside {
  grid-area: aside;
}
body > main {
  container: main/inline-size;
  grid-area: main;
}
body > footer {
  grid-area: footer;
}
body.help {
  display: grid;
  grid-template-areas: "header header" "aside main" "footer footer";
}
.wrapper {
  grid-column-gap: 40px;
  grid-column-gap: var(--spacing-10);
  -moz-column-gap: 40px;
  column-gap: 40px;
  -moz-column-gap: var(--spacing-10);
  column-gap: var(--spacing-10);
  display: grid;
  grid-template-columns: 1fr min(1300px, calc(100% - 80px)) 1fr;
  grid-template-columns: 1fr min(var(--page-content-width), calc(100% - var(--spacing-20))) 1fr;
  justify-content: center;
}
.wrapper > * {
  grid-column: 2;
}
.wrapper[data-wrapper-size=small] {
  --page-content-width:800px;
}
.full-bleed {
  grid-column: 1/-1;
}
.double-pane {
  --side-min-width:100px;
  grid-gap: 40px max(40px, min(15%, 136px));
  grid-gap: var(--spacing-10) max(var(--spacing-10), min(15%, var(--spacing-34)));
  display: grid;
  gap: 40px max(40px, min(15%, 136px));
  gap: var(--spacing-10) max(var(--spacing-10), min(15%, var(--spacing-34)));
  grid-template-columns: max(100px, min(25%, 200px)) auto;
  grid-template-columns: max(var(--side-min-width), min(25%, 200px)) auto;
}
.double-pane aside {
  border-right: 1px solid #eee;
  border-right: var(--border-default);
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 56px;
  padding-bottom: var(--spacing-14);
  padding-right: 40px;
  padding-right: var(--spacing-10);
  padding-top: 56px;
  padding-top: var(--spacing-14);
  width: 100%;
}
@container main (width < 800px) {
  .double-pane {
    gap: 36px;
    gap: var(--gap-large);
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    padding-bottom: var(--spacing-10);
    padding-top: 40px;
    padding-top: var(--spacing-10);
  }
  .double-pane aside {
    border: 0;
  }
}
:where(h1, h2, h3, h4, h5, h6) {
  color: #131415;
  color: var(--title-color);
  font-weight: 500;
  font-weight: var(--font-weight-normal);
}
:where(h1) {
  font-size: max(2.5rem, min(10vw, 3rem));
  font-weight: 700;
  font-weight: var(--font-weight-bold);
}
:where(h2) {
  font-size: 2rem;
}
:where(a, a:focus, a:visited) {
  color: #025fd7;
  color: var(--link-color);
  transition: all .15s ease;
  transition: all var(--base-duration) var(--base-timing);
}
:where(strong) {
  font-weight: 600;
  font-weight: var(--font-weight-semibold);
}
:where(blockquote) {
  --callout-bg-color:var(--bg-color-secondary);
  --callout-border-color:var(--border-color-default);
  --callout-icon-path:url(/images/icons/info.svg);
  background-color: #f9fafb;
  background-color: var(--callout-bg-color);
  border-left: 4px solid #eee;
  border-left: 4px solid var(--callout-border-color);
  border-radius: 4px;
  border-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  padding-left: 48px;
  padding-left: var(--spacing-12);
  padding-right: 12px;
  padding-right: var(--spacing-3);
  position: relative;
}
:where(blockquote):before {
  background: var(--callout-icon-path);
  content: "";
  display: inline-block;
  height: 16px;
  height: var(--spacing-4);
  left: 16px;
  left: var(--spacing-4);
  min-width: 16px;
  min-width: var(--spacing-4);
  position: absolute;
  top: 16px;
  top: calc(var(--spacing-4));
  width: 16px;
  width: var(--spacing-4);
}
:where(blockquote.info) {
  --callout-bg-color:var(--bg-color-info);
  --callout-border-color:var(--text-color-info);
  --callout-icon-path:url(/images/icons/info.svg);
}
:where(blockquote.success) {
  --callout-bg-color:var(--bg-color-success);
  --callout-border-color:var(--text-color-success);
  --callout-icon-path:url(/images/icons/success.svg);
}
:where(blockquote.warning) {
  --callout-bg-color:var(--bg-color-warning);
  --callout-border-color:var(--text-color-warning);
  --callout-icon-path:url(/images/icons/warning.svg);
}
:where(blockquote.error) {
  --callout-bg-color:var(--bg-color-error);
  --callout-border-color:var(--text-color-error);
  --callout-icon-path:url(/images/icons/error.svg);
}
:where(.button, button, input[type=submit], input[type=button]) {
  --button-base-color:var(--base-color);
  --button-base-color-hover:var(--blue-70);
  --button-color:var(--button-base-color);
  --button-color-hover:var(--button-base-color-hover);
  --button-text-color:var(--white);
  --button-text-color-hover:var(--white);
  --button-border-color:var(--button-color);
  --button-border-color-hover:var(--button-color-hover);
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background-color: #025fd7;
  background-color: var(--button-color);
  border: 1px solid #025fd7;
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  border-radius: var(--border-radius-medium);
  color: #fff;
  color: var(--button-text-color);
  cursor: pointer;
  display: inline-flex;
  font-family: Avenir Next;
  font-family: var(--font-text);
  font-size: .875rem;
  gap: 12px;
  gap: var(--spacing-3);
  height: 40px;
  height: var(--spacing-10);
  line-height: 1;
  padding: 8px 12px;
  padding: var(--spacing-2) var(--spacing-3);
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: background-color .15s ease, border-color .15s ease;
  transition: background-color var(--base-duration) var(--base-timing), border-color var(--base-duration) var(--base-timing);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
:where(.button, button, input[type=submit], input[type=button]):hover {
  background: var(--button-color-hover);
  border-color: var(--button-border-color-hover);
  color: var(--button-text-color-hover);
  -webkit-text-decoration: none;
  text-decoration: none;
}
:where(.button, button, input[type=submit], input[type=button]):focus {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}
:where(.button, button, input[type=submit], input[type=button]):disabled {
  cursor: not-allowed;
  opacity: .5;
}
:where(.button, button, input[type=submit], input[type=button])[data-button-style=outline] {
  --button-color:var(--bg-color);
  --button-color-hover:var(--bg-color);
  --button-border-color:var(--button-base-color);
  --button-border-color-hover:var(--button-base-color-hover);
  --button-text-color:var(--button-base-color);
  --button-text-color-hover:var(--button-base-color-hover);
}
:where(.button, button, input[type=submit], input[type=button])[data-button-style=secondary] {
  --button-color:var(--bg-color);
  --button-color-hover:var(--bg-color);
  --button-border-color:var(--border-color-default);
  --button-text-color:var(--text-color);
  --button-text-color-hover:var(--text-color);
  --button-border-color-hover:var(--text-color);
}
:where(.button, button, input[type=submit], input[type=button])[data-button-style=action] {
  --button-text-color:var(--text-color-inverted);
  --button-color:var(--bg-color-inverted);
  --button-color-hover:var(--bg-color-inverted);
}
:where(.button, button, input[type=submit], input[type=button])[data-button-size=small] {
  gap: 8px;
  gap: var(--spacing-2);
  height: 32px;
  height: var(--spacing-8);
}
:where(.button, button, input[type=submit], input[type=button])[data-button-size=small] svg {
  height: 12px;
  height: var(--spacing-3);
}
:where(.button, button, input[type=submit], input[type=button])[data-button-state=success] {
  --button-base-color:var(--green-60);
  --button-base-color-hover:var(--green-70);
}
:where(.button, button, input[type=submit], input[type=button])[data-button-state=error] {
  --button-base-color:var(--red-60);
  --button-base-color-hover:var(--red-70);
}
:where(.button, button, input[type=submit], input[type=button])[data-button-state=warning] {
  --button-base-color:var(--orange-60);
  --button-base-color-hover:var(--orange-70);
}
:where(code) {
  --code-bg-color:var(--bg-color-secondary);
  --code-border:var(--border-default);
  --code-border-radius:var(--border-radius-small);
  background-color: #f9fafb;
  background-color: var(--code-bg-color);
  border: 1px solid #eee;
  border: var(--code-border);
  border-radius: 2px;
  border-radius: var(--code-border-radius);
  font-size: .75em;
  padding: 1px 4px;
  padding: var(--spacing-px) var(--spacing-1);
}
pre :where(code) {
  --code-bg-color:transparent;
  --code-border:0;
}
:where(input) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #eee;
  border: var(--border-default);
  border-radius: 4px;
  border-radius: var(--border-radius-medium);
  font-family: Avenir Next;
  font-family: var(--font-text);
  font-size: .875rem;
  height: 40px;
  height: var(--spacing-10);
  padding: 8px 12px;
  padding: var(--spacing-2) var(--spacing-3);
}
:where(input):hover {
  border-color: #424344;
  border-color: var(--text-color);
}
:where(input:focus, input:active) {
  border-color: #aab0b6;
  border-color: var(--border-color-focus);
  outline: none;
}
.label {
  --label-bg:var(--bg-color-secondary);
  --label-bg-info:var(--bg-color-neutral);
  --label-bg-error:var(--bg-color-error);
  --label-bg-success:var(--bg-color-success);
  --label-bg-none:var(--bg-color-transparent);
  --label-border-color:var(--border-color);
  --label-text-color:var(--text-color);
  align-items: center;
  background-color: #f9fafb;
  background-color: var(--label-bg);
  border-radius: 4px;
  border-radius: var(--border-radius-medium);
  color: #424344;
  color: var(--label-text-color);
  display: inline-flex;
  font-size: .875rem;
  gap: 4px;
  gap: var(--spacing-1);
  line-height: 2;
  padding: 0 8px;
  padding: 0 var(--spacing-2);
  white-space: nowrap;
}
.label[data-label-type=rounded] {
  --label-text-color:var(--text-color-secondary);
  border: 1px solid var(--label-border-color);
  border-radius: 16px;
  border-radius: var(--border-radius-xlarge);
  line-height: 1.25rem;
  padding: 2px 8px;
  padding: var(--spacing-05) var(--spacing-2);
  text-transform: capitalize;
}
.label[data-label-type=outlined] {
  background: 0;
  border: 1px solid #eee;
  border: var(--border-default);
}
.label[data-label-status=info] {
  --label-bg:var(--label-bg-info);
  --label-border-color:rgba(var(--blue-rgb),0.1);
  --label-text-color:var(--text-color-info);
}
.label[data-label-status=success] {
  --label-bg:var(--label-bg-success);
  --label-border-color:rgba(var(--green-rgb),0.1);
  --label-text-color:var(--text-color-success);
}
.label[data-label-status=warning] {
  --label-bg:var(--bg-color-warning);
  --label-border-color:rgba(var(--orange-50-rgb),0.1);
  --label-text-color:var(--text-color-warning);
}
.label[data-label-status=error] {
  --label-bg:var(--bg-color-error);
  --label-border-color:rgba(var(--red-rgb),0.1);
  --label-text-color:var(--text-color-error);
}
.label[data-label-status=breaking] {
  --label-bg:var(--label-bg-error);
  --label-border-color:rgba(var(--red-rgb),0.1);
  --label-text-color:var(--text-color-error);
}
.label[data-label-status=inverted] {
  --label-bg:var(--bg-color-inverted);
  --label-text-color:var(--text-color-inverted);
}
.card {
  border: 1px solid #eee;
  border: var(--border-default);
  border-radius: 8px;
  border-radius: var(--border-radius-large);
  box-shadow:
    .1px .4px .6px rgba(130, 142, 196, 0),
    .2px .8px 1.2px rgba(130, 142, 196, .17),
    .4px 1.5px 2.3px rgba(130, 142, 196, .34);
  box-shadow: var(--shadow-elevation-low);
  box-sizing: border-box;
  color: #131415;
  color: var(--title-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
  gap: var(--gap-default);
  height: 100%;
  padding: 24px;
  padding: var(--spacing-6);
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: all .2s ease-out;
}
.card:hover {
  box-shadow:
    .1px .4px .6px rgba(130, 142, 196, 0),
    .5px 1.9px 2.9px rgba(130, 142, 196, .13),
    1.1px 3.8px 5.9px rgba(130, 142, 196, .27),
    2.1px 7.7px 12px rgba(130, 142, 196, .4);
  box-shadow: var(--shadow-elevation-medium);
}
.card h3,
.card p {
  margin: 0;
}
.card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
}
.card img {
  border-radius: 4px;
  border-radius: var(--border-radius-medium);
  width: 100%;
}
.card .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  gap: var(--gap-small);
}
bridgetown-search-form input[type=search] {
  background: #fff url(/images/icons/search.svg) left 12px center no-repeat;
  background: var(--bg-color) url(/images/icons/search.svg) left var(--spacing-3) center no-repeat;
  padding-left: 36px;
  padding-left: var(--spacing-9);
  width: 100%;
}
#markdown-toc {
  align-self: start;
  border-left: 1px solid #eee;
  border-left: var(--border-default);
  grid-column: 2/-1;
  grid-row: 1/1000;
  position: sticky;
  top: 24px;
  top: var(--spacing-6);
}
#markdown-toc,
#markdown-toc ul {
  list-style-type: none;
  padding-left: 24px;
  padding-left: var(--spacing-6);
}
#markdown-toc,
#markdown-toc li,
#markdown-toc ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  gap: var(--gap-small);
}
#markdown-toc :where(a) {
  color: #424344;
  color: var(--text-color);
  -webkit-text-decoration: none;
  text-decoration: none;
}
#markdown-toc :where(a:hover) {
  color: #025fd7;
  color: var(--base-color);
}
timeline-element {
  grid-gap: 40px max(40px, min(15%, 136px));
  grid-gap: var(--spacing-10) max(var(--spacing-10), min(15%, var(--spacing-34)));
  align-items: start;
  display: grid;
  gap: 40px max(40px, min(15%, 136px));
  gap: var(--spacing-10) max(var(--spacing-10), min(15%, var(--spacing-34)));
  grid-template-columns: max(100px, min(25%, 200px)) auto;
}
timeline-element time {
  border-right: 1px solid #eee;
  border-right: var(--border-default);
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 56px;
  padding-bottom: var(--spacing-14);
  padding-right: 40px;
  padding-right: var(--spacing-10);
  padding-top: 56px;
  padding-top: var(--spacing-14);
  position: sticky;
  top: 48px;
  top: var(--spacing-12);
}
timeline-element time:after {
  background-color: #131415;
  background-color: var(--title-color);
  border-radius: 50%;
  content: "";
  display: block;
  height: 8px;
  height: var(--spacing-2);
  position: absolute;
  right: -4.5px;
  right: calc(var(--spacing-1-minus) - .5px);
  top: 64px;
  top: var(--spacing-16);
  width: 8px;
  width: var(--spacing-2);
}
timeline-element .timeline-content {
  padding-bottom: 40px;
  padding-bottom: var(--spacing-10);
  padding-top: 40px;
  padding-top: var(--spacing-10);
}
timeline-element .timeline-content img {
  width: 100%;
}
@container main (width < 800px) {
  timeline-element {
    border-left: 1px solid #eee;
    border-left: var(--border-default);
    grid-template-columns: 1fr;
    padding-left: 40px;
    padding-left: var(--spacing-10);
  }
  timeline-element time {
    border: 0;
    padding: 0;
    position: relative;
  }
  timeline-element time:after {
    right: calc(100% + 36px);
    right: calc(100% + var(--spacing-10) - var(--spacing-1));
    top: 8px;
    top: var(--spacing-2);
  }
}
.update .timeline-content h2 {
  font-size: 2rem;
  margin-bottom: 8px;
  margin-bottom: var(--spacing-2);
  margin-top: 0;
}
.update .timeline-content h2 > a {
  color: #131415;
  color: var(--title-color);
  -webkit-text-decoration: none;
  text-decoration: none;
}
.update .tag-list {
  display: flex;
  gap: 12px;
  gap: var(--gap-small);
  margin-bottom: 40px;
  margin-bottom: var(--spacing-10);
}
.category aside ul {
  list-style-type: none;
  padding: 0;
}
.category aside a {
  border-radius: 4px;
  border-radius: var(--border-radius-medium);
  color: #424344;
  color: var(--text-color);
  display: flex;
  padding: 4px 12px;
  padding: var(--spacing-1) var(--spacing-3);
  -webkit-text-decoration: none;
  text-decoration: none;
}
.category aside a:hover {
  background-color: rgba(2, 95, 215, .1);
  background-color: var(--bg-color-selected);
  color: #025fd7;
  color: var(--link-color);
}
.category .category-items {
  grid-gap: 24px;
  grid-gap: var(--gap-medium);
  display: grid;
  gap: 24px;
  gap: var(--gap-medium);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  list-style-type: none;
  margin: 0;
  padding-bottom: 40px;
  padding-bottom: var(--spacing-10);
  padding-top: 40px;
  padding-top: var(--spacing-10);
}
.category .category-items a {
  min-height: 180px;
  width: 100%;
}
@container main (width < 800px) {
  .category aside {
    padding: 0;
  }
  .category aside ul {
    display: flex;
    flex-direction: row;
  }
  .category .category-items {
    padding: 0;
  }
}
.guides .section-container {
  grid-gap: 64px;
  grid-gap: var(--gap-xlarge);
  container: guides/inline-size;
  display: grid;
  gap: 64px;
  gap: var(--gap-xlarge);
  grid-template-columns: 1fr 1fr;
  margin-bottom: 64px;
  margin-bottom: var(--spacing-16);
  margin-top: 64px;
  margin-top: var(--spacing-16);
}
.guides guide-category {
  grid-column: 1/-1;
}
.guides guide-category[data-column-position] {
  flex-direction: column;
}
.guides guide-category[data-column-position=left] {
  grid-column: 1/1;
}
.guides guide-category[data-column-position=right] {
  grid-column: 2/-1;
}
.guides guide-category guide-list ul {
  width: 100%;
}
@container guides (width < 1000px) {
  .guides guide-category {
    flex-direction: column;
  }
  .guides guide-category[data-column-position] {
    grid-column: 1/-1;
  }
}
.guide .double-pane {
  --side-min-width:250px;
}
.guide aside {
  display: flex;
  flex-direction: column;
  gap: 36px;
  gap: var(--gap-large);
}
.guide .guide-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-bottom: var(--spacing-10);
  padding-top: 40px;
  padding-top: var(--spacing-10);
}
.guide .guide-content img {
  width: 100%;
}
@container main (width < 800px) {
  .guide .guide-content,
  .guide aside {
    border: 0;
    padding: 0;
  }
}
.help main {
  grid-gap: 24px;
  grid-gap: var(--gap-medium);
  box-sizing: border-box;
  display: grid;
  gap: 24px;
  gap: var(--gap-medium);
  justify-content: center;
  padding: 32px 40px;
  padding: var(--spacing-8) var(--spacing-10);
  width: calc(100vw - 300px);
  width: calc(100vw - var(--doc-sidebar-width));
}
.help main button {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
}
.help main img {
  max-width: 100%;
}
.help .main-content {
  grid-column-gap: 24px;
  grid-column-gap: var(--gap-medium);
  align-content: start;
  -moz-column-gap: 24px;
  column-gap: 24px;
  -moz-column-gap: var(--gap-medium);
  column-gap: var(--gap-medium);
  container: main-content/layout inline-size;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: minmax(auto, 80ch) minmax(auto, 30ch);
  grid-template-columns: minmax(auto, var(--doc-content-width)) minmax(auto, 30ch);
  position: relative;
}
.help .main-content > :where(*) {
  grid-column: 1/1;
}
.help .main-content h1 {
  font-size: 2rem;
  font-weight: 500;
  font-weight: var(--font-weight-normal);
}
.help .main-content h2 {
  font-size: 1.5rem;
}
.help .main-content #markdown-toc {
  grid-column: 2/-1;
  grid-row: 1/1000;
}
@media (max-width:800px) {
  .help main {
    grid-column: 1/-1;
    width: 100%;
  }
  .help main button {
    display: inline-flex;
  }
}
@container main (width < 800px) {
  .help .main-content {
    grid-template-columns: 1fr;
  }
  .help #markdown-toc {
    display: none;
  }
}
.home header {
  border-bottom: 0;
}
.home .home-content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  gap: var(--spacing-20);
  padding-bottom: 80px;
  padding-bottom: var(--spacing-20);
  padding-top: 80px;
  padding-top: var(--spacing-20);
}
.home .home-content :where(h2) {
  font-size: 2.25rem;
  font-weight: 700;
  font-weight: var(--font-weight-bold);
}
.home .home-content :where(h2, p) {
  margin: 0;
}
.home section h2 {
  align-items: center;
  display: flex;
  gap: 24px;
  gap: var(--gap-medium);
  position: relative;
}
.home section h2:after {
  background-image: linear-gradient(90deg, #e6f6fc, #f4f0f6);
  background-image: linear-gradient(to right, var(--blue-20), var(--purple-10));
  box-shadow:
    .1px .4px .6px rgba(130, 142, 196, 0),
    .2px .8px 1.2px rgba(130, 142, 196, .17),
    .4px 1.5px 2.3px rgba(130, 142, 196, .34);
  box-shadow: var(--shadow-elevation-low);
  content: "";
  display: block;
  flex-grow: 1;
  height: 12px;
  height: var(--spacing-3);
  position: relative;
  right: 0;
}
.home .core-concepts ul {
  grid-gap: 36px;
  grid-gap: var(--gap-large);
  display: grid;
  gap: 36px;
  gap: var(--gap-large);
  grid-template-columns: 1fr 1fr;
  justify-content: start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.home .core-concepts h3 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  margin-bottom: var(--spacing-2);
}
.updates .update-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@container main (width < 800px) {
  .updates .page-count {
    border-left: 1px solid #eee;
    border-left: var(--border-default);
    padding-left: 40px;
    padding-left: var(--spacing-10);
  }
  .updates .page-count:after {
    content: "";
    left: -4px;
    left: var(--spacing-1-minus);
  }
}

/* frontend/styles/syntax-highlighting.css */
pre.highlight {
  background-color: var(--bg-color-secondary);
  max-width: calc(100vw - var(--spacing-30));
  overflow-y: scroll;
  padding: var(--spacing-4);
}
.highlight .hll {
  background-color: #ffc;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  background-color: #e3d2d2;
  color: #a61717;
}
.highlight .k,
.highlight .o {
  color: #000;
  font-weight: 700;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-style: italic;
  font-weight: 700;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-style: italic;
  font-weight: 700;
}
.highlight .gd {
  background-color: #fdd;
  color: #000;
}
.highlight .ge {
  color: #000;
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  background-color: #dfd;
  color: #000;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: 700;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr {
  color: #000;
  font-weight: 700;
}
.highlight .kt {
  color: #458;
  font-weight: 700;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: var(--accent-color);
}
.highlight .na {
  color: var(--base-color);
}
.highlight .nb {
  color: #0086b3;
}
.highlight .nc {
  color: #458;
  font-weight: 700;
}
.highlight .no {
  color: var(--base-color);
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: 700;
}
.highlight .ni {
  color: purple;
}
.highlight .ne,
.highlight .nf,
.highlight .nl {
  color: #900;
  font-weight: 700;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: navy;
}
.highlight .nv {
  color: var(--base-color);
}
.highlight .ow {
  color: #000;
  font-weight: 700;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #099;
}
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
  color: var(--accent-color);
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: var(--accent-color);
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: var(--base-color);
}
.highlight .il {
  color: #099;
}

/* src/_components/guides/author.css */
author-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  text-align: center;
}
author-card .author-image {
  border-radius: var(--border-radius-xlarge);
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100px;
}
author-card h3,
author-card p {
  margin: 0;
}
author-card .links {
  align-items: center;
  display: flex;
  gap: var(--gap-small);
}
author-card .links img {
  width: 20px;
}

/* src/_components/guides/category.css */
guide-category {
  align-items: center;
  border-radius: var(--border-radius-xlarge);
  color: var(--text-color);
  container: guide-list/inline-size;
  display: flex;
  gap: var(--gap-large);
  justify-content: space-between;
  width: 100%;
}
guide-category .list-header {
  width: 100%;
}
guide-category .list-header a {
  align-items: center;
  display: inline-flex;
  gap: var(--gap-small);
}
guide-category h2 {
  margin: 0;
}

/* src/_components/guides/list.css */
guide-list {
  width: 100%;
}
guide-list ul {
  display: flex;
  gap: var(--gap-medium);
  justify-content: end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
guide-list ul a {
  background-color: var(--bg-color);
  box-sizing: border-box;
  min-height: 300px;
  width: 230px;
}
@container guide-list (width < 800px) {
  guide-list ul {
    flex-direction: column;
  }
  guide-list ul a {
    min-height: 100px;
    width: 100%;
  }
}

/* src/_components/help/sidebar.css */
side-bar {
  border-right: var(--border-default);
  width: var(--doc-sidebar-width);
  z-index: 110;
}
side-bar aside {
  padding: var(--spacing-10) var(--spacing-4);
}
side-bar button {
  display: none;
}
side-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
side-bar li {
  gap: var(--spacing-2);
}
.sidebar-list,
side-bar li {
  display: flex;
  flex-direction: column;
}
.sidebar-list {
  gap: var(--spacing-1);
}
.sidebar-list > li {
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}
.sidebar-sublist {
  border-left: var(--border-default);
  list-style-type: none;
  margin: 0;
  margin-bottom: var(--spacing-2);
  margin-left: var(--spacing-4);
}
.sidebar-sublist .item {
  border-left: 2px solid transparent;
  border-radius: 0;
  margin-left: -1px;
}
.sidebar-sublist .item[aria-current=true] {
  background: none;
  border-color: var(--base-color);
}
@media (max-width:800px) {
  side-bar {
    background-color: var(--bg-color);
    bottom: 0;
    box-shadow: var(--box-shadow-medium);
    left: calc(var(--doc-sidebar-width)*-1);
    max-height: 100vh;
    overflow-y: scroll;
    overscroll-behavior: contain;
    position: fixed;
    top: 0;
    transition: all .4s ease-in-out;
  }
  side-bar[data-toggle-active=true] {
    left: 0;
  }
  side-bar button {
    align-items: center;
    background: transparent;
    border: 0;
    display: flex;
    margin-bottom: var(--spacing-10);
  }
  side-bar button svg {
    transform: rotate(180deg);
  }
}

/* src/_components/help/sidebar/item.css */
side-item a,
side-item a:focus,
side-item a:visited {
  border-radius: var(--border-radius-medium);
  color: var(--text-color);
  padding: var(--spacing-1) var(--spacing-3);
  -webkit-text-decoration: none;
  text-decoration: none;
}
side-item a[aria-current=true] {
  background-color: var(--bg-color-selected);
  color: var(--link-color);
}

/* src/_components/home/getting_started.css */
getting-started a {
  grid-gap: 0 var(--gap-large);
  align-items: center;
  background-image: linear-gradient(to right, var(--blue-20), var(--blue-10), var(--purple-10));
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-elevation-low);
  color: var(--text-color);
  display: grid;
  gap: 0 var(--gap-large);
  grid-template-columns: auto 1fr;
  padding: var(--spacing-8) var(--spacing-9);
  text-align: left;
  -webkit-text-decoration: none;
  text-decoration: none;
}
getting-started .emoji {
  font-size: 2.5rem;
  grid-column: 1/1;
  grid-row: 1/span 2;
}
getting-started:hover .emoji {
  animation: shake .82s cubic-bezier(.36, .07, .19, .97) infinite both;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translateZ(0);
}
getting-started h2,
getting-started p {
  margin: 0;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(1px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}

/* src/_components/home/hero.css */
home-hero {
  align-items: center;
  animation: gradient 10s ease infinite;
  background: linear-gradient(-45deg, var(--blue-30) 0, var(--blue-10) 30%, var(--purple-10) 49%, var(--purple-10) 51%, var(--blue-10) 70%, var(--blue-30) 100%);
  background-size: 300% 300%;
  border-radius: var(--border-radius-large);
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  margin: var(--spacing-4) var(--spacing-12);
  padding: var(--spacing-20) var(--spacing-10) var(--spacing-10);
  text-align: center;
}
home-hero h1,
home-hero p {
  margin: 0;
}
home-hero p {
  font-size: 1rem;
}
home-hero bridgetown-search-form {
  max-width: 75ch;
  width: 100%;
}
home-hero bridgetown-search-form input[type=search] {
  background-position: left var(--spacing-4) center;
  background-size: 1rem;
  font-size: 1rem;
  padding: var(--spacing-6);
  padding-left: var(--spacing-10);
}
home-hero bridgetown-search-form input[type=search]:hover {
  border-color: var(--blue-40);
}
home-hero .cards {
  grid-gap: var(--spacing-10);
  display: grid;
  gap: var(--spacing-10);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: var(--spacing-4);
  width: 100%;
}
@media (max-width:1000px) {
  home-hero .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:600px) {
  home-hero {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
  home-hero h1 {
    font-size: 2rem;
  }
  home-hero .cards {
    grid-template-columns: 1fr;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

/* src/_components/home/hero/card.css */
home-hero-card {
  background: color-mix(in srgb, var(--white) 70%, transparent);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-elevation-low);
  padding: var(--spacing-8) var(--spacing-9);
  transition: all .2s ease-out;
}
home-hero-card:hover {
  box-shadow: var(--shadow-elevation-medium);
  transform: scale(1.05);
}
home-hero-card a {
  align-items: center;
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  -webkit-text-decoration: none;
  text-decoration: none;
}
home-hero-card h2,
home-hero-card p {
  color: var(--title-color);
  margin: 0;
}
home-hero-card h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}
home-hero-card img {
  height: 4rem;
  margin-bottom: var(--spacing-4);
}

/* src/_components/shared/footer.css */
footer {
  border-top: var(--border-default);
}
footer .columns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-6);
  justify-content: space-between;
  padding-bottom: var(--spacing-12);
  padding-top: var(--spacing-12);
}
footer a.link {
  color: var(--text-color);
  -webkit-text-decoration: none;
  text-decoration: none;
}
footer a.link:hover {
  color: var(--text-color);
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-underline-offset: calc(var(--spacing-1) + var(--spacing-05));
}
footer .bottom {
  border-top: var(--border-default);
  display: flex;
  flex-wrap: wrap;
  font-size: .75rem;
  gap: var(--spacing-8);
  justify-content: space-between;
  padding-bottom: var(--spacing-10);
  padding-top: var(--spacing-10);
}
footer .bottom-column {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-3) var(--spacing-6);
}

/* src/_components/shared/footer/column.css */
footer-column,
footer-column .items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
}
footer-column .items {
  gap: var(--spacing-2);
}
footer-column .title {
  font-size: 1rem;
  font-weight: var(--font-weight-semibold);
}

/* src/_components/shared/hero.css */
page-hero {
  align-items: center;
  border-bottom: var(--border-default);
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  padding-bottom: var(--spacing-10);
  padding-top: var(--spacing-10);
}
page-hero h1,
page-hero p {
  margin: 0;
}
page-hero p {
  font-size: 1.5rem;
}

/* src/_components/shared/nav/button.css */
nav button {
  align-items: center;
  background-color: transparent;
  border: var(--border-default);
  border-radius: var(--border-radius-small);
  display: none;
}
.nav-icon {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 30px;
  transition: transform .4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 30px;
}
[aria-pressed=true] .nav-icon {
  transform: rotate(45deg);
}
.nav-icon .line {
  fill: none;
  stroke: currentColor;
  stroke-width: 5.5;
  stroke-linecap: round;
  transition: stroke-dasharray .4s, stroke-dashoffset .4s;
}
.nav-icon .bottom,
.nav-icon .top {
  stroke-dasharray: 40 121;
}
[aria-pressed=true] .bottom,
[aria-pressed=true] .top {
  stroke-dashoffset: -68px;
}
@media (max-width:800px) {
  nav button {
    display: inline-flex;
  }
}

/* src/_components/shared/nav/item.css */
nav-item a:focus,
nav-item a:not(.does-not-exist),
nav-item a:visited {
  border-radius: var(--border-radius-medium);
  color: var(--text-color);
  padding: var(--spacing-2) var(--spacing-3);
  -webkit-text-decoration: none;
  text-decoration: none;
}
nav-item a:hover {
  background-color: var(--bg-color-selected);
  color: var(--base-color);
}

/* src/_components/shared/navbar.css */
header {
  grid-gap: var(--gap-default);
  align-items: center;
  -webkit-backdrop-filter: blur(var(--spacing-8));
  backdrop-filter: blur(var(--spacing-8));
  border-bottom: var(--border-default);
  display: grid;
  gap: var(--gap-default);
  grid-template-columns: auto 1fr;
  padding: var(--spacing-4) var(--spacing-6);
  position: sticky;
  top: 0;
  z-index: 100;
}
header a {
  display: flex;
}
header img {
  height: 32px;
}
header nav {
  display: flex;
  gap: var(--spacing-3);
  justify-self: end;
}
nav-links {
  box-sizing: border-box;
  display: flex;
}
@media (max-width:800px) {
  nav-links {
    background-color: var(--bg-color);
    border-right: var(--border-default);
    box-shadow: var(--box-shadow-medium);
    flex-direction: column;
    height: 100vh;
    left: calc(var(--doc-sidebar-width)*-1);
    max-width: calc(var(--doc-sidebar-width) - var(--spacing-14));
    padding: var(--spacing-10) var(--spacing-3);
    position: absolute;
    top: 0;
    transition: all .4s ease-in-out;
    width: var(--doc-sidebar-width);
    z-index: 100;
  }
  nav-links[data-toggle-active=true] {
    left: 0;
  }
}
@media (max-width:600px) {
  header input[type=search] {
    display: none;
  }
}

/* src/_components/shared/pagination.css */
post-pagination {
  grid-gap: var(--spacing-20) max(var(--spacing-10), min(15%, var(--spacing-34)));
  display: grid;
  gap: var(--spacing-20) max(var(--spacing-10), min(15%, var(--spacing-34)));
  grid-template-columns: max(100px, min(25%, 200px)) auto;
}
post-pagination .page-count {
  border-right: var(--border-default);
  padding-bottom: var(--spacing-14);
  padding-right: var(--spacing-10);
  padding-top: var(--spacing-14);
  position: sticky;
  top: var(--spacing-4);
}
post-pagination .page-count:after {
  --dot-top:var(--spacing-16);
  background-color: var(--title-color);
  border-radius: 50%;
  content: "";
  display: block;
  height: var(--spacing-2);
  left: calc(100% - var(--spacing-1));
  position: absolute;
  top: var(--spacing-16);
  top: var(--dot-top);
  width: var(--spacing-2);
}
post-pagination .pagination {
  align-items: center;
  display: flex;
  gap: var(--gap-medium);
  justify-content: end;
  list-style-type: none;
  margin: 0;
  padding-bottom: var(--spacing-10);
  padding-top: var(--spacing-10);
}
post-pagination .page {
  align-items: center;
  color: var(--text-color-disabled);
  display: flex;
  gap: var(--gap-small);
}
post-pagination a.page {
  color: var(--text-color);
  -webkit-text-decoration: none;
  text-decoration: none;
}
post-pagination .previous svg {
  transform: rotate(180deg);
}
@container main (width < 800px) {
  post-pagination {
    grid-template-columns: auto 1fr;
  }
  post-pagination .page-count {
    border-right: 0;
    padding-right: 0;
  }
  post-pagination .page-count:after {
    content: none;
  }
  post-pagination .pagination {
    border: 0;
    padding-left: 0;
  }
}
/*# sourceMappingURL=/_bridgetown/static/index.WIAYYCEI.css.map */
