bridgetown-search-form {
  input[type="search"] {
    background: var(--bg-color) url(/docs/images/icons/search.svg) left var(--spacing-3) center no-repeat;
    width: 100%;
    padding-left: var(--spacing-9);
  }
}
