timeline-element {
  align-items: start;
  display: grid;
  grid-template-columns: clamp(100px, 25%, 200px) auto;
  gap: var(--spacing-10) clamp(var(--spacing-10), 15%, var(--spacing-34));

  time {
    border-right: var(--border-default);
    box-sizing: border-box;
    height: 100%;
    padding-block: var(--spacing-14);
    padding-right: var(--spacing-10);
    position: sticky;
    top: var(--spacing-12);

    &::after {
      background-color: var(--title-color);
      border-radius: 50%;
      content: "";
      display: block;
      height: var(--spacing-2);
      position: absolute;
      right: calc(var(--spacing-1-minus) - 0.5px);
      top: var(--spacing-16);
      width: var(--spacing-2);
    }
  }

  .timeline-content {
    padding-block: var(--spacing-10) var(--spacing-10);

    img {
      width: 100%;
    }
  }

  @container main (width < 800px) {
    border-left: var(--border-default);
    grid-template-columns: 1fr;
    padding-left: var(--spacing-10);

    time {
      border: 0;
      padding: 0;
      position: relative;

      &::after {
        right: calc(100% + var(--spacing-10) - var(--spacing-1));
        top: var(--spacing-2);
      }
    }
  }
}
