:root {
  --border-color-default: var(--gray-20);
  --border-width-default: 1px;
  --border-default: var(--border-width-default) solid var(--border-color-default);

  --border-color-focus: var(--gray-40);

  --border-radius-small: var(--spacing-05);
  --border-radius-medium: var(--spacing-1);
  --border-radius-large: var(--spacing-2);

  --box-shadow-medium: 0px 5px 12px rgba(var(--black-rgb), 0.1);
  --box-shadow-large: 0px 5px 24px rgba(var(--black-rgb), 0.1);
}
