/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* --- blue --- */
  --blue-100: #111c28;
  --blue-90: #222c3a;
  --blue-70: #184e94;
  --blue-60: #025fd7;
  --blue-40: #9abfef;
  --blue-20: #e6f6fc;
  --blue-10: #f5fbff;

  /* comprehensive blues */
  --darkest-blue: var(--blue-100);
  --darker-blue: var(--blue-90);
  --dark-blue: var(--blue-70);
  --blue: var(--blue-60);
  --blue-rgb: 2, 95, 215;
  --light-blue: var(--blue-20);
  --lighter-blue: var(--blue-10);

  /* other blues */
  --gray-blue: #44546f;
  --azure-blue: #3262ab;
  --sky-blue: #19aeff;

  --gradient-blue: linear-gradient(
    90deg,
    var(--sky-blue) 0.3%,
    var(--blue) 42.72%
  );

  --ifm-color-primary: var(--blue);
  --ifm-color-primary-dark: var(--dark-blue);
  --ifm-color-primary-darker: var(--darker-blue);
  --ifm-color-primary-darkest: var(--darkest-blue);
  --ifm-color-primary-light: var(--light-blue);
  --ifm-color-primary-lighter: var(--lighter-blue);
  --ifm-color-primary-lightest: var(--lighter-blue);
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* --ifm-color-primary: #25c2a0; */
  /* --ifm-color-primary-dark: #21af90; */
  /* --ifm-color-primary-darker: #1fa588; */
  /* --ifm-color-primary-darkest: #1a8870; */
  /* --ifm-color-primary-light: #29d5b0; */
  /* --ifm-color-primary-lighter: #32d8b4; */
  /* --ifm-color-primary-lightest: #4fddbf; */
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@import "colors.css";
@import "spacings.css";
@import "variables.css";
@import "fonts.css";
@import "navigation.css";
@import "markdown.css";
@import "footer.css";

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 0.9rem;
  font-weight: var(--font-weight-normal);
}

.main-wrapper {
  background-color: var(--bg-color);
}

main {
  padding: var(--spacing-6) var(--spacing-8);
}
