:root {
  --font-family: "Avenir Next", -apple-system, system-ui, "Helvetica Neue",
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  --font-weight-normal: 500;
  --font-weight-bold: 600;
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: var(--font-weight-bold);
  src: url("fonts/AvenirNext-DemiBold.woff2") format("woff2"),
    url("fonts/AvenirNext-DemiBold.woff") format("woff"),
    url("fonts/AvenirNext-DemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: var(--font-weight-normal);
  src: url("fonts/AvenirNext-Medium.woff2") format("woff2"),
    url("fonts/AvenirNext-Medium.woff") format("woff"),
    url("fonts/AvenirNext-Medium.ttf") format("truetype");
  font-display: swap;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
}
