.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: var(--font-family);
  font-weight: 400;
}

.markdown h1 {
  font-size: 2rem;
}

.markdown h2 {
  font-size: 1.75rem;
}

.markdown h3 {
  font-size: 1.5rem;
}

.markdown h4 {
  font-size: 1.25rem;
}

.markdown h5 {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
}

.markdown h6 {
  font-weight: 1rem;
  font-weight: var(--font-weight-bold);
}

.markdown code {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-small);
  font-size: 0.75rem;
}

.markdown strong {
  font-weight: var(--font-weight-bold);
}

.pagination-nav__label {
  font-weight: var(--font-weight-normal);
}
