/* top navigation */
.navbar {
  --navbar-bg-color: var(--bg-color);

  background-color: var(--navbar-bg-color);
  border-bottom: var(--border-default);
  box-shadow: revert;
  height: var(--spacing-16);
  padding-inline: var(--spacing-4);
}

.navbar__logo {
  height: var(--spacing-7);
}

/* sidenav */
.theme-doc-sidebar-container {
  --ifm-toc-border-color: var(--border-color);
  border-right: var(--border-default);
}

nav.menu {
  padding: var(--spacing-10) var(--spacing-4);
}

.menu__link {
  color: var(--text-color);
  padding-inline: 0;
}

.menu__link:hover {
  background-color: revert;
  color: var(--link-color-hover);
}

.menu__link.menu__link--active[aria-current="page"] {
  background-color: revert;
  color: var(--brand-primary);
}

.menu__list-item-collapsible:hover,
.menu__list-item-collapsible--active {
  background-color: revert;
}

.menu__link--sublist-caret::after,
.menu__caret::before {
  scale: 0.6;
}

/* right sidenav */
.table-of-contents {
  border-left: var(--border-default);
  padding-block: 0;
}
