:root {
  --brand-primary: var(--blue-60);
  --text-color: var(--gray-70);
  --title-color: var(--black);
  --link-color-hover: var(--gray-50);

  --bg-color: var(--white);

  --border-color: var(--gray-20);
  --border-default: 1px solid var(--border-color);
}

[data-theme='dark'] {
  --text-color: var(--gray-20);
  --title-color: var(--white);
  --link-color-hover: var(--gray-40);

  --bg-color: var(--black);

  --border-color: var(--slate-80);
}
