<bump-cta>
  <p><strong>Bump.sh</strong>, an API doc platform for tech writers & engineers</p>
  <a class="button" href="https://bump.sh/users/sign_up?utm_source=content-hub&utm_medium=cta">Get started for free <%= svg "images/icons/arrow-right.svg" %></a>
</bump-cta>
