<bump-cta>
  <p><strong>Bump.sh</strong>, the API doc platform for Tech Writers & Engineers</p>
  <a class="button" href="<%= "https://bump.sh/users/sign_up?utm_source=content-hub&utm_medium=cta&utm_content=#{@slug}" %>">Get started for free <%= svg "/docs/images/icons/arrow-right.svg" %></a>
</bump-cta>
