highlight-banner {
    background-image: linear-gradient(90deg, white, white), linear-gradient(90deg, rgba(25, 174, 255, 0.4) 0.3%, rgba(255, 255, 255, 0.2) 25.92%, rgba(1, 92, 213, 0.4) 46.89%, rgba(25, 174, 255, 0.4) 88.32%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border: solid 1px transparent;
    border-radius: var(--border-radius-large);
    overflow: hidden;
    width: 100%;

    .wrapper {
        background-color: var(--blue-10);
        padding: var(--spacing-10);
        display: flex;
        align-items: center;
    }

    .content {
        gap: var(--spacing-8);
        display: flex;
        flex-direction: column;
    }

    h3 {
        font-size: 22px;
        font-weight: var(--font-weight-semibold);
        margin: 0;
    }

    p {
        margin: 0;
    }

    a {
        width: fit-content
    }

    .image {
        width: 24px;
        height: auto;
    }

    .title {
        display: flex;
        gap: var(--gap-small);
        align-items: center;
    }
}

.highlight-banners-row {
    display: flex;
    gap: var(--gap-medium);
    width: 100%;
}

@media (max-width: 1200px) {
    .highlight-banners-row {
        display: flex;
        flex-direction: column;
    }
}